.div-address {
    @media screen and (max-width: 767px) {
        margin-left: auto;
        margin-right: auto;
    }
    @media screen and (min-width: $tablet-upper) and (max-width: 1199px) {
        width: 232px;
    }
    @media screen and (min-width: $desktop-upper) {
        margin-right: 69px;
    }
}

.address-logo {
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

.logo-footer {
    @extend %logo;
    font-size: 24px;
    line-height: 28px;
    color: $color;
    &:hover,
    &:focus {
        color: $colorhover; 
    }
    @media screen and (min-width: $desktop-upper) {
        font-size: 22px;
        line-height: 26px;
    }
}

.logo-footer-part {
    color: $colorhover;
    margin: 0;
}

.box-address {
    @media screen and (min-width: $desktop-upper) {
        padding-right: 15px;
    }
}

.footer-address {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $color;
    @extend %footer-address;
    padding-top: 20px;
    margin: 0;
    @media screen and (min-width: $desktop-upper) {
        padding-top: 10px;
    }
}

.footer-address-contacts {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    color: rgba(255, 255, 255, 0.6);
    @extend %footer-address;
    padding-top: 8px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        color: $colorhover; 
    }
    @media screen and (min-width: $desktop-upper) {
        display: inline-block;
        padding-top: 9px;
    }
}
