.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $color;
}

.menu-button .icon-crose {
    display: none;
}

.menu-button.is-open .icon-crose {
    display: block;
}

.menu-button.is-open .icon-menu {
    display: none;
}
